# Driver Alertness Detection

Workflow of the project:

- Downloading a real-world dataset from a Kaggle competition
- Exploring Data Analysis
- Identifying input and target columns
- Separating numeric and categorical columns
- checking and impute missing values in numeric columns.
- scaling numeric columns to range(0,1)
- encoding categorical columns(if any).
- Splitting the data into train and validation sets.
- Model defining and Making predicitions.
- Hyperparameter tuning.
- Preprocessing the test data
- making predicitios on test data.

###Import Libraies and Load the Data

In [ ]:
!pip install jovian opendatasets xgboost graphviz lightgbm scikit-learn xgboost lightgbm --upgrade --quiet

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
import os
import opendatasets as od
import pandas as pd
pd.set_option("display.max_columns", 120)
pd.set_option("display.max_rows", 120)

**Problem Statement:**  
The objective of this challenge is to design a detector/classifier that will detect whether the driver is alert or not alert, employing any combination of vehicular, environmental and driver physiological data that are acquired while driving.
dataset = [Stay Alert! The Ford Challenge](https://www.kaggle.com/c/stayalert/data).

In [ ]:
od.download('https://www.kaggle.com/c/stayalert/data')

Skipping, found downloaded files in "./stayalert" (use force=True to force download)

In [ ]:
os.listdir('stayalert')

['Solution.csv', 'fordTrain.csv', 'fordTest.csv', 'example_submission.csv']

In [ ]:
train = pd.read_csv('./stayalert/fordTrain.csv')
test = pd.read_csv('./stayalert/fordTest.csv')

In [ ]:
train.head()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,0,34.7406,9.84593,1400,42.8571,0.290601,572,104.895,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.96,0.175,752,5.99375,0,2005,0,13.4,0,4,14.8004
1,0,1,0,34.4215,13.41120,1400,42.8571,0.290601,572,104.895,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.98,0.455,752,5.99375,0,2007,0,13.4,0,4,14.7729
2,0,2,0,34.3447,15.18520,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.97,0.280,752,5.99375,0,2011,0,13.4,0,4,14.7736
3,0,3,0,34.3421,8.84696,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.99,0.070,752,5.99375,0,2015,0,13.4,0,4,14.7667
4,0,4,0,34.3322,14.69940,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,102.07,0.175,752,5.99375,0,2017,0,13.4,0,4,14.7757

In [ ]:
test.head()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,?,38.4294,10.9435,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1937
1,0,1,?,38.3609,15.3212,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1744
2,0,2,?,38.2342,11.5140,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1602
3,0,3,?,37.9304,12.2615,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1725
4,0,4,?,37.8085,12.3666,1000,60.0,0.302277,504,119.048,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.57,0.00,255,4.50625,0,2136,0,17.6,0,4,16.1459

In [ ]:
test['IsAlert'].value_counts()

?    120840
Name: IsAlert, dtype: int64

In [ ]:
test.drop(['IsAlert'], 1, inplace=True)

In [ ]:
test.head()

,TrialID,ObsNum,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,38.4294,10.9435,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1937
1,0,1,38.3609,15.3212,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1744
2,0,2,38.2342,11.5140,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1602
3,0,3,37.9304,12.2615,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1725
4,0,4,37.8085,12.3666,1000,60.0,0.302277,504,119.048,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.57,0.00,255,4.50625,0,2136,0,17.6,0,4,16.1459

In [ ]:
train.shape

(604329, 33)

In [ ]:
train.columns

Index(['TrialID', 'ObsNum', 'IsAlert', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6',
       'P7', 'P8', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10',
       'E11', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11'],
      dtype='object')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604329 entries, 0 to 604328
Data columns (total 33 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   TrialID  604329 non-null  int64
 1   ObsNum   604329 non-null  int64
 2   IsAlert  604329 non-null  int64
 3   P1       604329 non-null  float64
 4   P2       604329 non-null  float64
 5   P3       604329 non-null  int64
 6   P4       604329 non-null  float64
 7   P5       604329 non-null  float64
 8   P6       604329 non-null  int64
 9   P7       604329 non-null  float64
 10  P8       604329 non-null  int64
 11  E1       604329 non-null  float64
 12  E2       604329 non-null  float64
 13  E3       604329 non-null  int64
 14  E4       604329 non-null  int64
 15  E5       604329 non-null  float64
 16  E6       604329 non-null  int64
 17  E7       604329 non-null  int64
 18  E8       604329 non-null  int64
 19  E9       604329 non-null  int64
 20  E10      604329 non-null  int64
 21  E11      604329 non-null  float64
 22  V1       604329 non-null  float64
 23  V2       604329 non-null  float64
 24  V3       604329 non-null  int64
 25  V4       604329 non-null  float64
 26  V5       604329 non-null  int64
 27  V6       604329 non-null  int64
 28  V7       604329 non-null  int64
 29  V8       604329 non-null  float64
 30  V9       604329 non-null  int64
 31  V10      604329 non-null  int64
 32  V11      604329 non-null  float64
dtypes: float64(14), int64(19)
memory usage: 152.2 MB

In [ ]:
train.describe()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
count,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.0,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.0,604329.000000,604329.0,604329.000000,604329.000000
mean,250.167657,603.841765,0.578799,35.449020,11.996525,1026.671035,64.061965,0.178923,845.384610,77.887628,0.0,10.512332,102.790045,0.290565,-4.230136,0.016262,358.674738,1.757296,1.383058,0.876787,63.311256,1.315265,76.965412,-0.037710,573.786433,19.961030,0.179814,1715.688383,0.0,12.710354,0.0,3.312257,11.668277
std,145.446164,348.931601,0.493752,7.484629,3.760292,309.277877,19.755950,0.372309,2505.335141,18.577930,0.0,14.049071,127.258629,1.006162,35.508596,0.002304,27.399973,2.854852,1.608807,0.328681,18.891029,5.247204,44.387031,0.403896,298.412888,63.269456,0.384033,618.176470,0.0,11.532085,0.0,1.243586,9.934423
min,0.000000,0.000000,0.000000,-22.481200,-45.629200,504.000000,23.885300,0.038920,128.000000,0.262224,0.0,0.000000,0.000000,0.000000,-250.000000,0.008000,260.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.795000,240.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000,1.676730
25%,125.000000,302.000000,0.000000,31.758100,9.903540,792.000000,49.180300,0.092110,668.000000,66.666700,0.0,0.000000,0.000000,0.000000,-8.000000,0.015686,348.000000,0.000000,0.000000,1.000000,52.000000,0.000000,41.930000,-0.175000,255.000000,1.487500,0.000000,1259.000000,0.0,0.000000,0.0,3.000000,7.947680
50%,250.000000,604.000000,1.000000,34.145100,11.400400,1000.000000,60.000000,0.105083,800.000000,75.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.016001,365.000000,1.000000,1.000000,1.000000,67.000000,0.000000,100.400000,0.000000,511.000000,3.018750,0.000000,1994.000000,0.0,12.800000,0.0,4.000000,10.772600
75%,374.000000,906.000000,1.000000,37.311900,13.644200,1220.000000,75.757600,0.138814,900.000000,89.820400,0.0,28.240000,211.584000,0.000000,6.000000,0.016694,367.000000,2.000000,2.000000,1.000000,73.000000,0.000000,108.500000,0.070000,767.000000,7.481250,0.000000,2146.000000,0.0,21.900000,0.0,4.000000,15.270900
max,510.000000,1210.000000,1.000000,101.351000,71.173700,2512.000000,119.048000,27.202200,228812.000000,468.750000,0.0,243.991000,359.995000,4.000000,260.000000,0.023939,513.000000,25.000000,9.000000,1.000000,127.000000,52.400000,129.700000,3.990000,1023.000000,484.488000,1.000000,4892.000000,0.0,82.100000,0.0,7.000000,262.534000

### Identify Input and Target Columns

In [ ]:
X = train.drop(columns=['IsAlert'])
y = train['IsAlert']

In [ ]:
print(X.shape)

(604329, 32)

In [ ]:
print(y.shape)

(604329,)

###Separate Numeric and Target columns

In [ ]:
num_cols = X.select_dtypes(include=np.number).columns.tolist()
cat_cols = X.select_dtypes(include='object').columns.tolist()

In [ ]:
print(cat_cols)

[]

In [ ]:
print(num_cols)

['TrialID', 'ObsNum', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11']

###Handling missing values

In [ ]:
X[num_cols].isna().sum()

TrialID    0
ObsNum     0
P1         0
P2         0
P3         0
P4         0
P5         0
P6         0
P7         0
P8         0
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
E11        0
V1         0
V2         0
V3         0
V4         0
V5         0
V6         0
V7         0
V8         0
V9         0
V10        0
V11        0
dtype: int64

###Scaling numeric cols to range(0,1)

In [ ]:
X[num_cols].describe().loc[['min','max']]

,TrialID,ObsNum,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
min,0.0,0.0,-22.4812,-45.6292,504.0,23.8853,0.03892,128.0,0.262224,0.0,0.000,0.000,0.0,-250.0,0.008000,260.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.795,240.0,0.000,0.0,0.0,0.0,0.0,0.0,1.0,1.67673
max,510.0,1210.0,101.3510,71.1737,2512.0,119.0480,27.20220,228812.0,468.750000,0.0,243.991,359.995,4.0,260.0,0.023939,513.0,25.0,9.0,1.0,127.0,52.4,129.7,3.990,1023.0,484.488,1.0,4892.0,0.0,82.1,0.0,7.0,262.53400

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(train[num_cols])
X[num_cols] = scaler.transform(X[num_cols])

In [ ]:
X[num_cols].describe().loc[['min','max']]

,TrialID,ObsNum,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0

### Splitting the data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.35)

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)

(392813, 32)
(392813,)
(211516, 32)
(211516,)

###Model Defining

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
lr_model = LogisticRegression().fit(X_train, y_train)
dt_model = DecisionTreeClassifier(random_state=42).fit(X_train,y_train)
rfc_model = RandomForestClassifier(n_jobs=-1, random_state=42).fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
#train preds
lr_train_preds = lr_model.predict(X_train)
dt_train_preds = dt_model.predict(X_train)
rfc_train_preds = rfc_model.predict(X_train)

#val preds
lr_val_preds = lr_model.predict(X_val)
dt_val_preds = dt_model.predict(X_val)
rfc_val_preds = rfc_model.predict(X_val)

###Evaluation

In [ ]:
from sklearn import metrics

def score(targets, predictions):
    return metrics.accuracy_score(targets,predictions)

In [ ]:
lr_train_score = score(y_train,lr_train_preds)
lr_val_score = score(y_val,lr_val_preds)

dt_train_score = score(y_train, dt_train_preds)
dt_val_score = score(y_val, dt_val_preds)

rfc_train_score = score(y_train,rfc_train_preds)
rfc_val_score = score(y_val,rfc_val_preds)

In [ ]:
score = pd.DataFrame({
    'Models': ['Logistic Regression','DecisionTreeClassifier','RandomForestClassifier'],
    'Train_Score' : [lr_train_score,dt_train_score,rfc_train_score],
    'Validation_Score' : [lr_val_score,dt_val_score,rfc_val_score],
})

In [ ]:
score

                   Models  Train_Score  Validation_Score
0     Logistic Regression     0.814599          0.815395
1  DecisionTreeClassifier     1.000000          0.987282
2  RandomForestClassifier     1.000000          0.992748

In [ ]:
dt_model.score(X_train,y_train), dt_model.score(X_val, y_val)

(1.0, 0.9872822859736379)

the training accuracy is almost 100%

### Hyperparameter tuning

**Training a Random Forest**  
 While tuning the hyperparameters of a single decision tree may lead to some improvements, a much more effective strategy is to combine the results of several decision trees trained with slightly different parameters. This is called a random forest model.

A random forest works by averaging/combining the results of several decision trees:

<img src="https://1.bp.blogspot.com/-Ax59WK4DE8w/YK6o9bt_9jI/AAAAAAAAEQA/9KbBf9cdL6kOFkJnU39aUn4m8ydThPenwCLcBGAsYHQ/s0/Random%2BForest%2B03.gif" width="640">


We'll use the `RandomForestClassifier` class from `sklearn.ensemble`.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_jobs=-1, random_state=42, n_estimators=150)

In [ ]:
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=150, n_jobs=-1, random_state=42)

In [ ]:
print(model.score(X_train, y_train))
print(model.score(X_val, y_val))

1.0
0.992700315815352

In [ ]:
def test_params(**params):
    model = RandomForestClassifier(random_state=42, n_jobs=-1, **params).fit(X_train, y_train)
    return model.score(X_train, y_train), model.score(X_val, y_val)

In [ ]:
test_params(max_depth=15)

(0.9677480124130311, 0.9660782163051495)

### `n_estimators`

This argument controls the number of decision trees in the random forest. The default value is 100. For larger datasets, it helps to have a greater number of estimators. As a general rule, try to have as few estimators as needed.

In [ ]:
test_params(n_estimators=25)

(0.9999541766693057, 0.99226063276537)

In [ ]:
test_params(min_samples_split=3, min_samples_leaf=2)

(0.9989435176534381, 0.9883413075133796)

In [ ]:
model = RandomForestClassifier(n_jobs=-1,
                               random_state=42,
                               n_estimators=25,
                               min_samples_split=3,
                               min_samples_leaf=2,
                               max_depth=15)

In [ ]:
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=15, min_samples_leaf=2, min_samples_split=3,
                       n_estimators=25, n_jobs=-1, random_state=42)

In [ ]:
model.score(X_train, y_train), model.score(X_val, y_val)

(0.9668417287615226, 0.9650475614137938)

### preprocessing the test data

In [ ]:
test.head()

,TrialID,ObsNum,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,38.4294,10.9435,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1937
1,0,1,38.3609,15.3212,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,4,0.015434,328,1,1,1,64,0.0,108.57,0.00,255,4.50625,0,2127,0,17.6,0,4,16.1744
2,0,2,38.2342,11.5140,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1602
3,0,3,37.9304,12.2615,1000,60.0,0.302277,508,118.110,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.65,0.07,255,4.50625,0,2131,0,17.6,0,4,16.1725
4,0,4,37.8085,12.3666,1000,60.0,0.302277,504,119.048,0,0.0,0.0,4,8,0.015938,328,1,1,1,65,0.0,108.57,0.00,255,4.50625,0,2136,0,17.6,0,4,16.1459

In [ ]:
test.shape

(120840, 32)

In [ ]:
test.isna().sum()

TrialID    0
ObsNum     0
P1         0
P2         0
P3         0
P4         0
P5         0
P6         0
P7         0
P8         0
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
E11        0
V1         0
V2         0
V3         0
V4         0
V5         0
V6         0
V7         0
V8         0
V9         0
V10        0
V11        0
dtype: int64

In [ ]:
test[num_cols] = scaler.transform(test[num_cols])
#test[encoded_cols] = encoder.transform(test[cat_cols])

In [ ]:
test_preds = model.predict(test)

In [ ]:
test_preds

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
Solution.csv', 'fordTrain.csv', 'fordTest.csv', 'example_submission.csv'

In [ ]:
sol = pd.read_csv('./stayalert/Solution.csv')
sol.head()

   TrialID  ObsNum  Prediction Indicator
0        0       0           1    Public
1        0       1           1    Public
2        0       2           1   Private
3        0       3           1   Private
4        0       4           1   Private

In [ ]:
submission_df = pd.read_csv('./stayalert/example_submission.csv')

In [ ]:
submission_df

        TrialID  ObsNum  Prediction
0             0       0           0
1             0       1           0
2             0       2           0
3             0       3           0
4             0       4           0
...         ...     ...         ...
120835       99    1206           0
120836       99    1207           0
120837       99    1208           0
120838       99    1209           0
120839       99    1210           0

[120840 rows x 3 columns]

In [ ]:
submission_df['Prediction'] = test_preds

In [ ]:
submission_df.to_csv('submission.csv', index=False)